{# templates/blog/show.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{{ slug }}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}

    <div>
        <h1>Title : {{ article.title }}</h1>
        <h2>Category : {{ article.category.name }}</h2>
        <p>{{ article.content }}</p>
    </div>
    <strong>Tags :</strong>
    <ul>
        {% for tag in article.tags %}
            <li><a href="{{ url('tag_show', { 'name': tag.name })}}">{{ tag.name }}</a></li>
        {% else %}
            <a href="#" onclick="addToFavorite()">
                <i id="favorite" class="{{ app.user.isFavorite(article) ? 'fas' : 'far' }} fa-heart"></i>
            </a>
            <li>No tags for this article</li>
        {% endfor %}
    </ul>
    {% if is_granted('ROLE_AUTHOR') %}
        <a class="btn btn-secondary" href="{{ path('article_edit', { 'id': article.id} ) }}">Edit</a>
    {%endif%}
    <a class="btn btn-primary" href="{{ path('app_index') }}">
        Back to homepage.
    </a>

{% endblock %}
