<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        Blog Symfony
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="{{ path('blog_index') }}">Blog</a>
            <a class="nav-item nav-link" href="{{ path('category_index') }}">Catégories</a>
            <a class="nav-item nav-link" href="{{ path('article_index') }}">Articles</a>
            {% if app.user %}
                <a class="nav-item nav-link" href="{{ path('app_logout') }}">Logout</a>
            {% else %}
                <a class="nav-item nav-link" href="{{ path('app_login') }}">Login</a>
            {% endif %}
        </div>
    </div>
</nav>